* {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    padding: 30px;
    width: 60%;
    margin: auto
}

.card {
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px #F1F1F1;
}

.card-info-container {
    padding: 0 20px 20px 20px;
}

.card-info-container h4 {
    color: #B5B5B5;
    font-weight: normal;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

#title {
    text-align: center;
    padding: 0 10px;
}

@media all and (max-width: 800px) {

    #content {
        width: 90%;
    }

    #noticia-list-container {
        display: block;
        padding: 0;
    }
    
    .card {   
        display: block;
        box-sizing: content-box;
        width: 100%;
        margin: 10px 0;
    }
}