<div id='title'>
    <h1>Exibindo detalhe da notícia de ID número {{noticia?.id}}</h1>
</div>
<div id='content'>
    <div class='card'>
        <img src="https://static.biologianet.com/2020/03/covid.jpg" alt='Imagem Covid'>
        <div class='card-info-container'>
            <div>
                <h3>Título:</h3>
                <p>{{noticia?.title}}</p>
            </div>
            <div>
                <h3>Corpo:</h3>
                <p>{{noticia?.body}}</p>
            </div>
        </div>
    </div>
</div>