<aside id='side'>
    <div class='aside-div'>
        <table>
            <thead>
                <tr>
                    <th>Categorias</th>
                </tr>
            </thead>
            <tbody id='aside-tbody'>
                <tr>
                    <td>Lorem ipsum dolor</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='aside-div'>
        <h5>Procurando alguma notícia?</h5>
        <div id='input-div'>
            <input type='text' placeholder='Pesquisar por...' />
            <i class="fas fa-search"></i>
        </div>
    </div>
</aside>